<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Esperecyan.NCVVoicevox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Esperecyan.NCVVoicevox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Esperecyan.NCVVoicevox.Properties.Settings>
            <setting name="VoicevoxPath" serializeAs="String">
                <value />
            </setting>
        </Esperecyan.NCVVoicevox.Properties.Settings>
    </userSettings>
<applicationSettings>
        <Esperecyan.NCVVoicevox.Properties.Settings>
                <setting name="ReferencedFileName" serializeAs="String">
                        <value>VOICEVOX.exe</value>
                </setting>
                <setting name="EngineFileRelativePath" serializeAs="String">
                        <value>./run.exe</value>
                </setting>
        </Esperecyan.NCVVoicevox.Properties.Settings>
    </applicationSettings>
</configuration>